

/* Reset / Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #253432;
  color: #ffffff;
  line-height: 1.6;

}



/* Links */
a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  color: #E39528;
}


/* --- Header --- */
header {
     /* Grid properties */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 4fr 4fr 3fr;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    align-items: stretch;
    column-gap: 0.5vw;
    row-gap: 0.5vw;
    width: 100%; 
    aspect-ratio: 16 / 8.5;
}

/*
@media screen and (min-width: 586px){
    header {
        height: 900px;
    }
}

@media screen and (min-width: 786px){
    header {
        height: 500px;
    }
}
*/

.hero {
    background-image: url('../images/hero_image.jpg');
    background-size: cover;
    background-position: top;
    padding: 20px;
    width: 100%;
}

.logo {
    max-height: 60px;
    margin-right: 2rem;
    
}

nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    align-items: center;
    justify-content: stretch;
    position: absolute;
    z-index: 10;
    padding: 1rem 5rem;
    /*background-color: #b17f00;*/
}

.nav_links {
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
    margin-right: 2rem;
    /*background-color: #1e40af;*/
}

.nav_link {
    color: #ffffff;
    display: flex;
    font-weight: 200;
}

.booktour {
  align-self: right;
}


.hero_content {
    align-self: flex-end;
    align-content: auto;
    align-items: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 100%;
    text-align: left;
    padding: 5%;
} 

header nav a {
  color: #374151;
  font-weight: 500;
}

header nav a:hover {
  color: #E39528;
}



/* ----- Search ------ */
.search { 
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #E39528;
    border-radius: 999px;
    overflow: hidden;
    transition: width 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center; 
    align-items: center;
    align-content: center;
    
}
.search_button {
    color: white;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search input {
    position: absolute;
    right: 40px;
    width: 0;
    height: 100%;
    padding: 0;
    border: none;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.2s ease;
    outline: none;
    background: transparent;
    
    /*
    outline: none;
    color: #ffffff;
    text-align: right;
    padding-right: 10px;*/
}
input[type="text"] {
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;
}


.search:focus-within {
  width: 220px;
}
  

.search input:focus {
  width: 100%;
  padding: 0 0.5rem 0 1rem;
  opacity: 1;
  align-content: end;
}



/* BURGER BUTTON */
.burger {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* MOBILE BREAKPOINT */
@media (max-width: 768px) {
  .nav {
    display: none;             
    position: absolute;
    top: 64px;
    right: 1rem;
    flex-direction: column;
    background: white;
    padding: 1rem;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  }

  .nav.active {
    display: flex;   
    flex-direction: column;          
  }

  .burger {
    display: block;             
  }
}



/* Buttons */
.main_button {
    border: none;
    color: #E39528;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    font-family: 'Zilla Slab', serif;
}

.map_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 8px;
  text-transform: uppercase;
  width: clamp(15%, 5vw, 20%);
  aspect-ratio: 16 / 9;
  white-space: nowrap;
  padding: 1.5%;
  
  background: linear-gradient(to bottom,
    transparent, #ffffff, transparent);

}

.map_button img {
  object-fit: contain;
  width: 50%;
  display: block;
}

.map_button a {
    font-size: clamp(0.5rem, 1vw, 1rem);
    font-weight: 800;
    color: #253432;
    font-family: 'Zilla Slab', serif;

}

.map_button:hover {
  background-color: #E39528;
}


.secondary-btn {
  color: #ffffff;
  background-color: #E39528;
  width: 50%;
  height: 30%;
  border: none;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 0.75rem;
  white-space: nowrap;
  height: 2rem;
}








/* =========================
   SECTION WRAPPER
========================= */
.main {
  background: #1f2b2a;
  color: white;
  
}

.wrapper {
  padding-left: clamp(12rem, 12vw, 12rem);
  padding-right: clamp(12rem, 12vw, 12rem);
  padding-top: clamp(4rem, 10vw, 5rem);
  padding-bottom: clamp(4rem, 10vw, 5rem);
  display: flex;
  flex-direction: column;
}

/* =========================
   TOP GRID
========================= */
.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(2rem, 4vw, 4rem);
  align-items: start;
}

/* =========================
   TEXT
========================= */
h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  margin-bottom: 3rem;
  font-family: 'Zilla Slab', serif;
  line-height: 2.2rem;
}

.hero-text p {
  max-width: 100%;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
}

/* =========================
   BUTTON
========================= */
.primary-btn {
  margin-top: 1.5rem;
  padding: 0.7rem 1.6rem;

  border: none;
  border-radius: 999px;

  background: white;
  color: #ff7a00;
  font-weight: 600;
  cursor: pointer;
}

/* =========================
   HERO IMAGE
========================= */
.hero-image img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

/* =========================
   CARD SCROLLER
========================= */
.card-scroll {
  display: flex;
  gap: 1.5rem;
  /*justify-content: center;*/
  margin-top: 4rem;
  margin-left: 4%;
  background-color: none;

  overflow-x: auto;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  z-index: 1;
}

/* Hide scrollbar */
.card-scroll::-webkit-scrollbar {
  display: none;
}


/* =========================
   CARDS
========================= */
.card-small {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  scroll-snap-align: start;
}

.card-small {
flex: 0 0 220px;
height: 200px;
border: 2px solid transparent;
background:
    linear-gradient(190deg, #ffffff, transparent) border-box;
}

.card-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-small-overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0)
  );

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-small-overlay h4 {
margin: 0;
font-size: 1.1rem;
font-family: 'Zilla Slab', serif;
color: #ffffff;
}

.card-small-overlay p {
  font-size: 0.75rem;
  opacity: 0.85;
  line-height: 1.1;
}

/* =========================
   MOBILE LAYOUT
========================= */
@media (max-width: 768px) {
  .section1 {
    grid-template-columns: 1fr;
  }

  .hero-text p {
    max-width: 100%;
  }
}












/* =========================
   section2
========================= */
.full-width-img {
  width: 100%;
  min-height: 40vh; 
  background-size:cover;
  background-position: center;
  position: relative;
  padding-top: 8%;
  z-index: 0; 
}

.sct-img {
  margin-top: -12rem;
  background-image: url('../images/section2-img.png');
  background-color: #ffffff;
}

.section2-overlay {
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0)
  );

}

.section2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(2rem, 4vw, 4rem);

}

.section2 p {
  color: #253432;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: -5rem;
}

.section2 button {
  align-self: center;
}

h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  color: #E39528;
  text-align: center;
}

/* -------CARDS--------- */
.card-big {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  scroll-snap-align: start;
  flex: 0 0 400px;
  height: 200px;
  border: none;
  background-color: #ffffff;
}

.card-overlay {
  position: absolute;
  inset: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-overlay h3 {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Zilla Slab', serif;
  color: #253432;
  font-weight: 300;
}

.card-overlay p{
  font-size: 0.75rem;
  opacity: 1;
  line-height: 1.1;
  color: #253432;
  margin-bottom: 1rem;
}

.news-button {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 1rem;
}


/* =========================
   section3
========================= */
.sct3-img {
  background-image: url('../images/section3-img.png');
  
}

.sct3-img h2 {
  color: #ffffff;
  margin-bottom: 2rem;
  margin-top: 7rem;
}

.sct3-img p {
  color: #ffffff;
  margin-bottom: 2rem;
}




/*=========================
   Section 4
========================= */

.sct4-img {
  background-image: url('../images/section4-img.jpg');
  background-size: cover;
  background-position: center;
  min-height: 40vh; 
  position: relative;
  padding-top: 8%;
  z-index: 0; 
}



/* Footer */
footer {
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.875rem;
  color: #6b7280;
}

